/*
CONTENTS.CSS
The style of the different HTML elements of the client side
*/


AddType text/css .css 


@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@charset 'UTF-8';


body {
	background-color: white;
	}
/*Header logo*/
#toolbarlogo{
	position: absolute;
	background-color: #fb8721;
	border: solid;
	border-color: #fb8721;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 0px;
	padding: 4px 442px 2px 15px;
}

/*Log out button*/
#logoutbutton{
	position: absolute;
	height: 35px;
	width: 35px;
	left: 1103px;
	top: 10px;
}

/*Configuration button*/
#configurationbutton{
	position: absolute;
	height: 35px;
	width: 35px;
	left: 1050px;
	top: 10px;
}

/*Music header menu logo*/
#toolbarmusic{
	position: absolute;
	background-color: #fb8721;
	padding: 20px 47px 20px 47px;
	/*float: left;*/
	color: white;
	font-size: 20px;
	font-family: sans-serif;
	float: left;
	top: 115px;

}
/*Menu */
#toolbarmenu,
#toolbarmenu ul,
#toolbarmenu ul li {
  list-style: none;
  margin: 0; 
  position: relative;
}


#toolbarmenu ul li li{
  position: relative;
  top: -140px;
  width: 84px; 
}

#toolbarmenu ul {
  position: absolute;
  z-index: 597;
  top: 180px;
}
#toolbarmenu ul li {
  float: none;
  vertical-align: middle;
  } 

#toolbarmenu ul li.hover,
#toolbarmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}


#toolbarmenu ul li:hover > ul {
  visibility: visible;
}

#toolbarmenu ul li {
  float: none;
}

/*Arrow selection*/
li.selected {
  border-left: 3px solid;
  background-color: #F6F6F6;
  color: #fb8721;
  border-color: #fb8721;
}

tr.selected {
  background-color: #f6f6f6;
  color: #fb8721;
}
/* .nrplaylist.selected{
  box-shadow: 8px 8px 5px #888888;
} */

/* Custom CSS Styles */

#toolbarmenu {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  width: 200px;
}

#toolbarmenu ul a,
#toolbarmenu ul a:link,
#toolbarmenu ul a:visited {
  display: block;
  color: #848889;
  text-decoration: none;
  font-weight: 300;
}
#toolbarmenu > ul {
  float: left;
  padding: 0;
}
#toolbarmenu ul {
  background: #fff;
}
#toolbarmenu > ul > li {
  border-left: 3px solid #d7d8da;
}

#toolbarmenu > ul > li > a {
  padding: 10px 20px;
}

#toolbarmenu > ul > li:hover {
  border-left: 3px solid #fb8721;
  background: #f6f6f6;
}


#toolbarmenu ul li:hover > a {
  color: #fb8721;
}


/*SUB MENU*/
#toolbarmenu ul ul{
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
}


 #toolbarmenu > ul > li > ul > li {
  float: none;
  min-height: 1px;
  line-height: 1em;
  vertical-align: left;
  padding: 0px 110px 0px 0px;
}

#toolbarmenu > ul > li > ul > li > a {
  padding: 10px 20px;
}

#toolbarmenu > ul > li > ul > li:hover{
  /*border-left: 3px solid #fb8721;*/
  background: #F6F6F6;
}

/*#toolbarmenu > ul > li > ul > li{
  border-left: 3px solid #d7d8da;
}*/

/*#toolbarmenu ul li ul{
    display: none;
}*/

 #toolbarmenu ul li ul li a,
#toolbarmenu ul li ul li a:link,
#toolbarmenu ul li ul li a:visited {
  display: block;
  color: #848889;
  text-decoration: none;
  font-weight: 300;
}


.headerbox{
	background-color: #fb8721;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	padding: 17px 10px 17px 10px;
	color: white;
	position: absolute;
	height: 30px;
	width: 918px;
	left: 215px;
	top: 115px;
	
}


	


#internalbox,
#createplaylistbox{
	background-color: #f6f6f6;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	padding: 5px 10px 5px 10px;
	float: none;
	position: absolute;
	color: #9A9A9E;
	left: 215px;
	top: 190px;
}

#input_explore,
#input_playlist{
	background-color: #f6f6f6;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	padding: 5px 10px 5px 10px;
	float: none;
	position: absolute;
	color: #9A9A9E;
	left: 215px;
	top: 190px;
}
#submit_explore,
#submit_playlist{
	background-color: #f6f6f6;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	padding: 5px 10px 5px 10px;
	float: none;
	position: absolute;
	color: #9A9A9E;
	left: 215px;
	top: 230px;
}

#submitcreateplaylistinput
{
	background-color: #f6f6f6;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	padding: 5px 10px 5px 10px;
	float: none;
	position: absolute;
	color: #9A9A9E;
	left: 605px;
	top: 189px;
}



#indexbutton,
#androididbutton {
        
        -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
        -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
        box-shadow:inset 0px 1px 0px 0px #cf866c;
        
        background-color:#d0451b;
        
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border-radius:3px;
        
        border:1px solid #942911;
        
        display:inline-block;
        color:#ffffff;
		font-family: 'Lato', sans-serif;
        font-size:13px;
        font-weight:normal;
        padding:6px 24px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #854629;
        
    }
#indexbutton:hover {
        
        background-color:#bc3315;
    }
#indexbutton:active {
        position:relative;
        top:1px;
    }

	
/*My Songs Table*/
#MyLibrarySongs{
	position: absolute;
	width: 940px;
	left: 215px;
	top: 190px;
	right: 100px;
	font-family: 'Lato', sans-serif;
	color: #6e6e6e;
	float: none;
	}

#MyLibrarySongs tr td{
	height: 35px;
	}
#Playlist_List{
	position: absolute;
	width: 940px;
	left: 215px;
	top: 190px;
	right: 100px;
	font-family: 'Lato', sans-serif;
	color: #6e6e6e;
	float: none;
	}
#Playlist_List tr td{
	height: 35px;
}
.playlist_element,
#plusplaylist{
	height: 40px;
}
.playlist_element td a,
.playlist_element td a:link,
.playlist_element td a:visited {
	color: #6e6e6e;
	text-decoration: none;
}
.playlist_element td:hover > a{
	color: #fb8721;
}

#BodySongs tr td a,
#BodySongs tr td a:link,
#BodySongs tr td a:visited {
  color: #6e6e6e;
  text-decoration: none;
}
#BodySongs tr td:hover > a {
  color: #fb8721;
}

#BodySongs tr:hover{
  background: #f6f6f6;
}

#BodySettings{
	position: absolute;
	width: 800px;
        left: 225px;
        top: 170px;
        right: 100px;
        font-family: 'Lato', sans-serif;
        color: #8d8d8d;
        float: none;
	list-style-type: none;
        }
#BodySettings ul,
#BodySettings ul li{
	list-style-type: none;
	font-size: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

#BodySettings li ul li{
	width: 50px;
	border: 1px;
}
	
#playlogo,
#pauselogo{
	left: 500px;
	width: 25px;
	height: 25px;
	padding-left: 700px;
}

#nextlogo{
	position: absolute;
	width: 50px;
	height: 50px;
	padding-left: 30px;
}


#previouslogo{
	position: absolute;
	width: 50px;
	height: 50px;
	padding-left: 360px;
}

#needhelp{
	text-decoration: none;
	color: #f3f3f3; 
	position: absolute;
	left: 460px;
	top: 355px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;	
}

#needhelp:hover{
	text-decoration: underline;
	
}

.buttontracklist{
	width: 25px;
	height: 25px;
	padding-right: 10px;
	top: 1px;

}

#morebutton{
	position: absolute;
	left: 320px;
}
#morebutton:hover{
	border-style: solid;
	border-width: 1px;
	border-color: #7c7c7c;	
}

#morebuttonsubmenuplaylist{
        position: absolute;
        left: 170px;
	top: 5px;
}
#morebuttonsubmenuplaylist:hover{
        border-style: solid;
        border-width: 1px;
        border-color: #7c7c7c;
}

div.bigcard_ListenNow{
	position: relative;
	width: 382px;
	height: 500px;
	overflow: hidden;
}
div.bigcard_image{
	width: 382px;
	height: 382px; 
}
div.bigcard_image:hover{
	opacity: 0.5;
}

div.littlecard_ListenNow{
	position: relative;
	float: left;
	bottom: 500px;
	left: 406px;
	width: 161px;
        height: 193px;
	vertical-align: top;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	padding-right: 26px;
}

div.littlecard_image{
	width: 161px;
	height: 161px;
	overflow: hidden;
}

div.littlecard_image:hover{
	 opacity: 0.5;
}

a.footerimage_ListenNow{
	color: black;
	font-size: 18px;
	text-decoration: none;
	top: 10px;
}
a.footerimage_ListenNow:hover{
	text-decoration: underline;
}

p.footerimage_ListenNow{
	color: #a6a6a6;
}

a#little.footerimage_ListenNow{
        font-size: 12px;
	top: 5px;
}
a#little.footerimage_ListenNow:hover{
        text-decoration: underline;
}

p#little.footerimage_ListenNow{
	font-size: 12px;
        color: #a6a6a6;
}

.footerimage_ListenNow{
	font-family: 'Lato', sans-serif;
	line-height: 80%;
}

div.imagedetails_ListenNow{
	height: 60px;
	width: 382px;
	background-color: #f6f6f6;
	padding-left: 10px;
	text-overflow: ellipsis;
}
div.imagedetails_ListenNow:hover{
}

div#little.imagedetails_ListenNow{
        height: 50px;
        width: 150px;
        background-color: #f6f6f6;
	text-overflow: ellipsis;
}

a#little.footerimage_ListenNow,
p#little.footerimage_ListenNow{
	overflow: hidden;
	text-overflow: clip;
}

div.g-Content{
	position: absolute;
	top: 190px; 
	left: 215px;
	width: 938px;
	height: 400px;
	
}


div#thirdalbum.littlecard_ListenNow{

	position: absolute;
	top: 230px;
	left: 780px;
}

div#secondalbum.littlecard_ListenNow{
	position absolute;
	left: 32px;
	top: -270px;
}


div#firstalbum.littlecard_ListenNow{
        position: absolute;
	top: 230px;
}

footer#footerplaybuttons{

	position: absolute;
	top: 745px;
	left: 285px;
}
audio{
	width: 800px;

}
div.settingsvariables{
	height: 50px;


}

